DATABASE_URL="postgresql://neondb_owner:"

NEXTAUTH_SECRET="" # Générer avec: openssl rand -base64 32
NEXTAUTH_URL="http://localhost:3000"

NODE_ENV="development"

INTERNAL_API_KEY="" # Générer avec: openssl rand -base64 32
SOCKET_USER_SECRET="" # Générer avec: openssl rand -base64 32

CRON_SECRET="" # Générer avec: openssl rand -base64 32

GROQ_API_KEY=""

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

GMAIL_USER=
GMAIL_CLIENT_ID=""
GMAIL_CLIENT_SECRET=""
GMAIL_REFRESH_TOKEN=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

NEXT_PUBLIC_LOBBY_SERVER_URL="http://localhost:10000"
NEXT_PUBLIC_UNO_SERVER_URL="http://localhost:10001"
NEXT_PUBLIC_QUIZ_SERVER_URL="http://localhost:10002"
NEXT_PUBLIC_TABOO_SERVER_URL="http://localhost:10003"
NEXT_PUBLIC_SKYJOW_SERVER_URL="http://localhost:10004"
NEXT_PUBLIC_YAHTZEE_SERVER_URL="http://localhost:10005"
NEXT_PUBLIC_P4_SERVER_URL="http://localhost:10006"
NEXT_PUBLIC_JUSTONE_SERVER_URL="http://localhost:10007"
NEXT_PUBLIC_BATTLESHIP_SERVER_URL="http://localhost:10008"
NEXT_PUBLIC_DIAMANT_SERVER_URL="http://localhost:10009"
NEXT_PUBLIC_IMPOSTOR_SERVER_URL="http://localhost:10010"
NEXT_PUBLIC_LUDO_SERVER_URL="http://localhost:10011"
NEXT_PUBLIC_PERUDO_SERVER_URL="http://localhost:10012"
NEXT_PUBLIC_CANT_STOP_SERVER_URL="http://localhost:10013"
