DATABASE_URL="postgresql://neondb_owner:"
NEXTAUTH_SECRET="" # Générer avec: openssl rand -base64 32
INTERNAL_API_KEY="" # Générer avec: openssl rand -base64 32
NEXTAUTH_URL="http://localhost:3000"
GROQ_API_KEY="gsk_xxx"
NEXT_PUBLIC_LOBBY_SERVER_URL="http://localhost:10000"
NEXT_PUBLIC_UNO_SERVER_URL="http://localhost:10001"
NEXT_PUBLIC_QUIZ_SERVER_URL="http://localhost:10002"
NEXT_PUBLIC_TABOO_SERVER_URL="http://localhost:10003"
NEXT_PUBLIC_SKYJOW_SERVER_URL="http://localhost:10004"
NEXT_PUBLIC_YAHTZEE_SERVER_URL="http://localhost:10005"
NEXT_PUBLIC_P4_SERVER_URL="http://localhost:10006"
NEXT_PUBLIC_JUSTONE_SERVER_URL="http://localhost:10007"
NEXT_PUBLIC_BATTLESHIP_SERVER_URL="http://localhost:10008"
NEXT_PUBLIC_DIAMANT_SERVER_URL="http://localhost:10009"
NEXT_PUBLIC_IMPOSTOR_SERVER_URL="http://localhost:10010"

DISCORD_CLIENT_ID=ton_client_id
DISCORD_CLIENT_SECRET=ton_client_secret

CLOUDINARY_CLOUD_NAME=xxx
CLOUDINARY_API_KEY=xxx
CLOUDINARY_API_SECRET=xxx
