DATABASE_URL="postgresql://neondb_owner:"
NEXTAUTH_SECRET="" # Générer avec: openssl rand -base64 32
NEXTAUTH_URL="http://localhost:3000"
GROQ_API_KEY="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"
NEXT_PUBLIC_LOBBY_SOCKET_URL="http://localhost:10000"
NEXT_PUBLIC_UNO_SOCKET_URL="http://localhost:10001"
NEXT_PUBLIC_QUIZ_SOCKET_URL="http://localhost:10002"
